.theme-toggle {
	background: none;
	border: none;
	cursor: pointer;
	color: var(--primary-color-2);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.2s;
}

.theme-toggle:hover {
	opacity: 0.7;
}

.theme-toggle svg {
	width: 25px;
	height: 25px;
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.sun-icon {
	display: none;
}

html[data-theme=dark] .moon-icon {
	display: none;
}

html[data-theme=dark] .sun-icon {
	display: block;
}